
.MobileViewBanner{

    display: none;

}

.DestopViewBanner{

    display: block;

}

@media screen and (max-width: 800px)
{

.MobileViewBanner{

    display: block;

}

.DestopViewBanner{

    display: none;

}
  
}